<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>浪潮健康统一认证中心-授权</title>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="浪潮健康统一认证中心"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body class="bg" style="overflow: hidden">
    <div style="position: absolute;width: 800px;height: 400px;left: calc(50% - 400px);top: calc(50% - 200px);background-color: cadetblue;color: white">
        <div style="margin: 50px 50px;display: flex;flex-direction: column;align-items: center;justify-content: center">
            <div style="margin-top: 30px;">
                <span style="color: lightskyblue" th:text="${clientId}"></span>
                <span> 请求授权，该应用将获取您的以下信息:</span>
            </div>
            <div style="margin-top: 30px;">昵称，头像和性别</div>
            <div style="margin-top: 30px;">授权后表明您已同意 <a href="javascript:;" style="color: #E9686B">浪潮健康统一认证中心 服务协议</a></div>
            <div style="margin-top: 100px;">
                <form method="post" action="/oauth/authorize">
                    <input type="hidden" name="user_oauth_approval" value="true" />
                    <input type="hidden" name="scope.all" value="true" />
                    <br />
                    <button class="btn" type="submit" style="color: white;background-color: cornflowerblue;border: none;width: 200px;height: 35px;border-radius: 20px;">同意/授权</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>