<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <div>OAUTH-BOOT 授权</div>
        <div>
            <a href="javascript:;">帮助</a>
        </div>
    </div>
    <h3 th:text="${clientId}+' 请求授权，该应用将获取您的以下信息'"></h3>
    <p>昵称，头像和性别</p>
    授权后表明您已同意 <a href="javascript:;" style="color: #E9686B">OAUTH-BOOT 服务协议</a>
    <form method="post" action="/oauth/authorize">
        <input type="hidden" name="user_oauth_approval" value="true" />
        <input type="hidden" name="scope.all" value="true" />
        <br />
        <button class="btn" type="submit">同意/授权</button>
    </form>
</div>
</body>
</html>